@using KucykoweRodeo.Controllers
@model ICollection<KucykoweRodeo.Models.Article>


<h2>Artykuły</h2>
   
<table class="table table-hover">

 <thead>
 <tr>
  <th scope="col">Artykuł</th>
  <th scope="col">Autorzy</th>
  <th scope="col">Kategoria i tagi</th>
  <th scope="col">@((string)ViewData["ArticleListColumn"] == "page" ? "Strona" : "Wydanie")</th>
 </tr>
 </thead>
    
 <tbody>
 @foreach (var article in Model.OrderBy(article => article.OrdinalNumber))
 {
  <tr>

   <td>
    <p class="font-weight-bold">
     <a href="@PublisherHandler.GetFromUrl(article.Issue.Url).GetPageUrl(article)" target="_blank">@article.Title</a>
    </p>

    @if (@article.Subject?.Length > 0)
    {
     <p class="text-muted">@article.Subject</p>
    }
    <p class="small">@article.Lead</p>
   </td>

   <td>
    @foreach (var author in article.Authors)
    {
     <a asp-controller="Authors" asp-action="Details" asp-route-id="@author.Id">@author.Name</a>
    }
   </td>

   <td>
    <p>@article.Category.Name</p>
    <ul class="list-inline small">
     @foreach (var tag in article.Tags)
     {
      <li class="list-inline-item">
       <a href="#">@tag.Name</a>
      </li>
     }
    </ul>
   </td>

   <td>@((string)ViewData["ArticleListColumn"] == "page" ? article.Page : $"{article.Issue.Magazine.Name} {article.Issue.CoverSignature}")</td>

  </tr>
 }
 </tbody>

</table>
