@using System.Globalization
@model IEnumerable<KucykoweRodeo.Models.Author>

@{
 ViewData["Title"] = "Lista autorów";
 ViewData["Description"] = $"Lista autorów";
 Layout = "~/Pages/Shared/_Layout.cshtml";

 decimal maxWordCount = Model.Select(a => a.Articles.Sum(b => b.WordCount)).Max();
}

<nav aria-label="breadcrumb">
 <ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Start</a></li>
  <li class="breadcrumb-item active" aria-current="page">Autorzy</li>
 </ol>
</nav>

<h1>Autorzy</h1>

<div class="row">

 <div class="col">

  <table class="table">
   <thead>
    <tr>
     <th>Nazwa</th>
     <th colspan="2">Artykuły</th>
    </tr>
   </thead>
   <tbody>
    @foreach (var author in Model.OrderByDescending(author => author.Articles.Sum(a => a.WordCount)))
    {
     <tr>
      <td>
       <a asp-action="Details" asp-route-id="@author.Id">@author.Name</a>
      </td>
      <td>@author.Articles.Count()</td>
      <td>
       <div class="progress">
        @{
         var wordCount = author.Articles.Sum(a => a.WordCount);
         var percentWidth = wordCount / maxWordCount * 100;
        }
        <div class="progress-bar" role="progressbar" style="width: @percentWidth.ToString(CultureInfo.InvariantCulture)%">
         <span>@wordCount.ToString("N0") wyr.</span>
        </div>
       </div>
      </td>
     </tr>
    }
   </tbody>
  </table>

 </div>

</div>