@using Taboret.Models
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IStringLocalizer<Shared> SharedLocalizer
@model IEnumerable<Taboret.Models.Category>

@{
 ViewData["Title"] = Localizer["Categories"];
 ViewData["Description"] = Localizer["List of categories"];
 Layout = "~/Pages/Shared/_Layout.cshtml";
}

<nav aria-label="breadcrumb">
 <ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">@Localizer["Start"]</a></li>
  <li class="breadcrumb-item active" aria-current="page">@Localizer["Categories"]</li>
 </ol>
</nav>

<h1>@Localizer["List of categories"]</h1>

<div class="row">

 <div class="col">

  <div class="list-group">
   @foreach (var category in Model.OrderBy(category => category.Name))
   {
    <a class="list-group-item list-group-item-action" asp-action="Details" asp-route-id="@category.Id">
     @category.Name
     <span class="text-muted">(@category.Articles.Count)</span>
    </a>
   }
  </div>

 </div>

</div>
