@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer
@model Taboret.Models.Author

@{
 ViewData["Title"] = Model.Name;
 ViewData["Description"] = $"{Localizer["Author"]} - {Model.Name}";
 ViewData["ArticleListColumn"] = "issue";
 Layout = "~/Pages/Shared/_Layout.cshtml";
}

<nav aria-label="breadcrumb">
 <ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">@Localizer["Start"]</a></li>
  <li class="breadcrumb-item"><a asp-action="Index">@Localizer["Authors"]</a></li>
  <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
 </ol>
</nav>

<h1>@Model.Name</h1>

<div class="row">

 <div class="col">
  <dl>
   <dt>@Localizer["No. of articles"]</dt>
   <dd>@Model.Articles.Count</dd>

   <dt>@Localizer["Total word count"]</dt>
   <dd>@Model.Articles.Sum(a => a.WordCount).ToString("N0")</dd>

   @if (Model.Covers.Any())
   {
    <dt>@Localizer["Designed covers"]</dt>
    <dd>
     <ul class="list-inline small">
      @foreach (var issue in Model.Covers)
      {
       <li class="list-inline-item">
        <a asp-controller="Issues" asp-action="Details" asp-route-id="@issue.Signature">@issue.Magazine.Name @issue.CoverSignature</a>
       </li>
      }
     </ul>
    </dd>
   }
  </dl>
 </div>

</div>

<div class="row">
 <div class="col">
  <partial name="_ArticleList" model="Model.Articles" />
 </div>
</div>