@using Taboret.Controllers
@using Taboret.Models
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IStringLocalizer<Shared> SharedLocalizer
@model Taboret.Models.Issue

@{
 ViewData["Title"] = $"{Model.Magazine.Name} {Model.CoverSignature}";
    ViewData["Description"] = $"{SharedLocalizer["Issue"].Value} - {Model.Magazine.Name} {Model.CoverSignature}";
 ViewData["ArticleListColumn"] = "page";
 Layout = "~/Pages/Shared/_Layout.cshtml";
}

<nav aria-label="breadcrumb">
 <ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">@SharedLocalizer["Start"]</a></li>
  <li class="breadcrumb-item"><a href="/Issues">@SharedLocalizer["Issues"]</a></li>
  <li class="breadcrumb-item active" aria-current="page">@Model.Magazine.Name @Model.CoverSignature</li>
 </ol>
</nav>

<h1>@Model.Magazine.Name @Model.CoverSignature</h1>

<div class="row">

 <div class="col-md-4">
  @if (ViewData["CoverPath"] == null)
  {
   <img class="d-block mx-auto mw-100" src="~/Assets/nocoth.png" alt="@Localizer["No cover image"]" />
  }
  else
  {
   <img class="d-block mx-auto mw-100" src="~/Assets@(ViewData["CoverPath"])" alt="@string.Format(
         Localizer["Cover image of {0} issue {1}"].Value,
         Model.Magazine.Name,
         Model.CoverSignature)" />
  }
 </div>

 <div class="col-md-8">

  <a class="btn btn-primary" target="_blank" href="@Model.Url">
   @string.Format(
         Localizer["Read on {0}"].Value,
         PublisherHandler.GetFromUrl(Model.Url).Name)
  </a>
  
  @if (User?.Identity?.IsAuthenticated ?? false)
  {
   <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model.Signature">
    @Localizer["Modify"]
   </a>
  }

  <dl>

   <dt>@Html.DisplayNameFor(m => m.PublicationDate)</dt>
   <dd>@Model.PublicationDate.ToShortDateString()</dd>

   <dt>@Html.DisplayNameFor(m => m.PageCount)</dt>
   <dd>@Model.PageCount</dd>

   <dt>@Localizer["Total word count"]</dt>
   <dd>@Model.Articles.Sum(a => a.WordCount).ToString("N0")</dd>

   <dt>@Html.DisplayNameFor(m => m.CoverAuthors)</dt>
   <dd>
    @foreach (var author in Model.CoverAuthors)
    {
     <a asp-controller="Authors" asp-action="Details" asp-route-id="@author.Id">@author.Name</a>
    }
   </dd>

   <dt>@Html.DisplayNameFor(m => m.IsArchived)</dt>
   <dd>
    @if (Model.IsArchived)
    {
     <span class="badge badge-success">@Localizer["Approved"]</span>
    }
    else if (Model.Articles.Count > 0)
    {
     <span class="badge badge-warning">@Localizer["In progress"]</span>
    }
    else
    {
     <span class="badge badge-danger">@Localizer["Pending"]</span>
    }
   </dd>

  </dl>

  <p class="text-muted">@Html.DisplayNameFor(m => m.UpdateTime): @Model.UpdateTime.ToShortDateString()</p>
 </div>

</div>

<div class="row">
 <div class="col">
  <partial name="_ArticleList" model="Model.Articles" />
 </div>
</div>
