@using KucykoweRodeo.Controllers
@model KucykoweRodeo.Models.Issue

@{
 ViewData["Title"] = $"{Model.Magazine.Name} {Model.CoverSignature}";
 ViewData["Description"] = $"Wydanie - {Model.Magazine.Name} {Model.CoverSignature}";
 ViewData["ArticleListColumn"] = "page";
 Layout = "~/Pages/Shared/_Layout.cshtml";
}

<nav aria-label="breadcrumb">
 <ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Start</a></li>
  <li class="breadcrumb-item"><a asp-action="Index">Wydania</a></li>
  <li class="breadcrumb-item active" aria-current="page">@Model.Magazine.Name @Model.CoverSignature</li>
 </ol>
</nav>

<h1>@Model.Magazine.Name @Model.CoverSignature</h1>

<div class="row">

 <div class="col-md-4">
  @if (ViewData["CoverPath"] == null)
  {
   <img class="d-block mx-auto mw-100" src="~/Assets/coth/nocoth.png" alt="Brak okładki" />
  }
  else
  {
   <img class="d-block mx-auto mw-100" src="~/Assets@(ViewData["CoverPath"])" alt="Okładka @Model.Magazine.Name nr @Model.CoverSignature" />
  }
 </div>

 <div class="col-md-8">

  <a class="btn btn-primary" target="_blank" href="@Model.Url">
   Czytaj na @PublisherHandler.GetFromUrl(Model.Url).Name
  </a>

  <dl>

   <dt>Data publikacji</dt>
   <dd>@Model.PublicationDate.ToString("d MMMM yyyy")</dd>

   <dt>Liczba stron</dt>
   <dd>@Model.PageCount</dd>

   <dt>Łączna liczba wyrazów</dt>
   <dd>@Model.Articles.Sum(a => a.WordCount).ToString("N0")</dd>

   <dt>Autorzy okładki</dt>
   <dd>
    @foreach (var author in Model.CoverAuthors)
    {
     <a asp-controller="Authors" asp-action="Details" asp-route-id="@author.Id">@author.Name</a>
    }
   </dd>

   <dt>Stan archiwizacji</dt>
   <dd>
    @if (Model.IsArchived)
    {
     <span class="badge badge-success">Zatwierdzony</span>
    }
    else if (Model.Articles.Count > 0)
    {
     <span class="badge badge-warning">W trakcie</span>
    }
    else
    {
     <span class="badge badge-danger">W kolejce</span>
    }
   </dd>

  </dl>

  <p class="text-muted">Ostatnia aktualizacja wpisu: @Model.UpdateTime.ToString("d MMMM yyyy")</p>
 </div>

</div>

<div class="row">
 <div class="col">
  <partial name="_ArticleList" model="Model.Articles" />
 </div>
</div>
