@using System.IO
@model KucykoweRodeo.Models.Issue

@{
 ViewData["Title"] = $"{Model.Magazine.Name} {Model.CoverSignature}";
 Layout = "_Layout";
}

<h1>@Model.Magazine.Name @Model.CoverSignature</h1>

<div class="row">

 <div class="col-md-4">
  @if (ViewData["CoverPath"] == null)
  {
   <img class="d-block mx-auto mw-100" src="~/Assets/coth/nocoth.png" alt="Brak okładki" />
  }
  else
  {
   <img class="d-block mx-auto mw-100" src="~/Assets@(ViewData["CoverPath"])" alt="Okładka @Model.Magazine.Name nr @Model.CoverSignature"/>
  }
 </div>
 
 <div class="col-md-8">

  <a class="btn btn-primary" target="_blank" href="@Model.Url">
   Czytaj na @(new Uri(Model.Url).Host)
  </a>

  <dl>

   <dt>Data publikacji</dt>
   <dd>@Model.PublicationDate.ToString("d MMMM yyyy")</dd>

   <dt>Liczba stron</dt>
   <dd>@Model.PageCount</dd>

   <dt>Łączna liczba wyrazów</dt>
   <dd>@Model.Articles.Sum(a => a.WordCount).ToString("N0")</dd>

   <dt>Autorzy okładki</dt>
   <dd>
    @foreach (var author in Model.CoverAuthors)
    {
     <a href="#">@author.Name</a>
    }
   </dd>

   <dt>Stan archiwizacji</dt>
   <dd>
    @if (Model.IsArchived)
    {
     <span class="badge badge-success">Zatwierdzony</span>
    }
    else if (Model.Articles.Count > 0)
    {
     <span class="badge badge-warning">W trakcie</span>
    }
    else
    {
     <span class="badge badge-danger">W kolejce</span>
    }
   </dd>

  </dl>

  <p class="text-muted">Ostatnia aktualizacja wpisu: @Model.UpdateTime.ToString("d MMMM yyyy")</p>
 </div>
 
 <div class="row">
  <div class="col">
   
   <h2>Artykuły</h2>
   
   <table class="table table-hover">

    <thead>
    <tr>
     <th scope="col">Artykuł</th>
     <th scope="col">Autorzy</th>
     <th scope="col">Kategoria i tagi</th>
     <th scope="col">Strona</th>
    </tr>
    </thead>
    
    <tbody>
    @foreach (var article in Model.Articles.OrderBy(article => article.OrdinalNumber))
    {
     <tr>

      <td>
       <p class="font-weight-bold">@article.Title</p>
       @if (@article.Subject?.Length > 0)
       {
        <p class="text-muted">@article.Subject</p>
       }
       <p class="small">@article.Lead</p>
      </td>

      <td>
       @foreach (var author in article.Authors)
       {
        <a href="#">@author.Name</a>
       }
      </td>

      <td>
       <p>@article.Category.Name</p>
       <ul class="list-inline small">
        @foreach (var tag in article.Tags)
        {
         <li class="list-inline-item">
          <a href="#">@tag.Name</a>
         </li>
        }
       </ul>
      </td>

      <td>@article.Page</td>

     </tr>
    }
    </tbody>

   </table>

  </div>
 </div>

</div>
